.sidebar {
    height: calc(100% - 80px);
    width: 25%;
    padding: 20px;
    margin-right: 20px;
}

.spacer {
    height: 20px;
}

.list{
    max-height: 100%;
    overflow: auto;
}

.deskListItem {
    border: 2px solid;
    border-radius: 8px;
    margin-top: 20px;
    padding: 15px;
    text-align: start;
}